:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Roboto",  sans-serif;
    --nav-font: "Lato",  sans-serif;
  }

  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #212529; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2d465e; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #7534bf; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }

  :root {
    --nav-color: #212529;  /* The default color of the main navmenu links */
    --nav-hover-color: #8034bf; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #7c34bf; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }

  .light-background {
    --background-color: #f3f4f4;
    --surface-color: #ffffff;
  }

  :root {
    scroll-behavior: smooth;
  }


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

a> img{
  width: 150px;
  height: 150px;

}

.navbar-default{
 background-color: #ffffff;
 border-color: #f3f4f4;
}


.navbar{
  border-radius: 4px;
}

.navbar {
  position:relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-brand> img{
  position: relative;
  width: 150px;
  height: 150px;
  left: 50px;
}

ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.navbar-default .navbar-nav> .active> a {
  color:#ffffff;
  background-color: #8034bf;
  border-radius: 15px;
}

.navbar-default .navbar-nav> li >  a {
  color: #8034bf;
}
.navbar-header {
  padding-right: 50px ;
  padding-top: 50px ;
  float: right;
}

/*--------------------------------------------------------------
# Home Body
--------------------------------------------------------------*/

.body{
  padding: 10px;
  padding-bottom: 50px;
}

.image >img {
  width: 700px;
  height: 700px;
  position: relative ;
  top:35px;
  left: 200px;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content > h1 {
  text-align: justify;
  float:right;
  padding-top: 280px;
  padding-right: 250px;
  font-family: var(--default-font);
  color: #8034bf;
  font-weight: bold;

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


.footer{
  border: 1px solid transparent;
  position: absolute;
  padding-bottom: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  font-family: var(--default-font);
  display: flex;
  padding-left: 50px;
}


.footer-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 50px 450px;
  position: relative;
}

.footer-content-column {

  position:relative;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.footer-content-column ul li a {
  text-decoration: none;
  font-size: medium;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name-dxc{
  margin-bottom: 0;
  margin-top: 0;
  color:#8034bf;
  font-size: large;
  font-weight: 700;
  padding-right: 850px ;
}

.footer-menu-name {
  font-size: large;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  text-align:left;
  color:#8034bf;
}



.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

